:root{
    /* CSS HEX PALETTE*/
    --tomato: #ff5733ff;
    --naples-yellow: #f0cf65ff;
    --emerald: #3ddc97ff;
    --moonstone: #46B1C9;
    --rich-black: #0d1317ff;
}
.fancy_font {
    font-family: "Italiana", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.important_font {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}
.casual_font {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

* {
    color: var(--rich-black);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0px;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
    grid-template-areas:
    'h'
    'm'
    'f'
    ;
}

h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
}

header {
    background-color: var(--tomato);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    grid-area: h;
}
header > a {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 0px 20px;
    align-items: center;
}
header > a > img {
    height: 100%;
}
a#homeLink {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    grid-area: m;
}
main > section {
    margin: 20px 0px;
}

section#mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tomato);
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0px 25px;
}

footer {
    display: flex;
    background-color: var(--naples-yellow);
    padding: 10px 50px 30px 50px;
    align-self: flex-end;
    grid-area: f;
}